{% extends 'app/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main role="main">

  {% for article in articles %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">{{ article.name }}</h1>
        <p>{{ article.text }}</p>
      </div>
    </div>

    <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
    {% for product in article.products.all %}
      <div class="col-md-4">
        <h2>{{ product }}</h2>

        <a href="{% url 'product' product.slug %}">

          <img src="{% static 'app/images/'|add:product.picture_path %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
    {% endfor %}

    </div>
  </div> <!-- /container -->
  {% endfor %}

</main>
{% endblock %}