{% extends 'app/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main role="main">

  {% for article in articles %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">{{ article.name }}</h1>
        <p>{{ article.text }}</p>
      </div>
    </div>

    <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
    {% for product in article.products.all %}
      <div class="col-md-4">
        {% include 'app/product_cart.html' %}
      </div>
    {% endfor %}

    </div>
  </div> <!-- /container -->
  {% endfor %}

</main>
{% endblock %}