{% extends 'app/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2>Nexus 5x</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/nexus5x.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

      <div class="col-md-4">
        <h2>iPhone 7</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/iphone7.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

      <div class="col-md-4">
        <h2>Pixel 2</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/pixel2.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>
  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Не знаете что одеть летом?</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2>Фуфайка</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/fufajka.jpg' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>
  </div> <!-- /container -->

</main>
{% endblock %}