{% extends 'app/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main role="main">

  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row">


      <div class="col-md-4">
        <h2>Nexus 5x</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/nexus5x.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>


      <div class="col-md-4">
        <h2>iPhone 7</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/iphone7.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>


      <div class="col-md-4">
        <h2>Pixel 2</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/pixel2.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>

    <div class="row">


      <div class="col-md-4">
        <h2>Samsung S8</h2>

        <a href="{% url 'phone' %}">

          <img src="{% static 'app/samsungs8.webp' %}" width="180">

        </a>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>


    </div> <!-- /container -->

  </div>
</main>
{% endblock %}