{% extends 'app/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block additional_css %}<link rel="stylesheet" href="{% static 'app/css/login.css' %}">{% endblock %}

{% block content %}
<form class="form-signin" method="POST" action="{% url 'login' %}">
<!--  <input type="hidden" name="next" value="">-->
  <img class="mb-4" src="{% static 'app/images/logo.svg' %}" alt="" width="72" height="72">
  {% csrf_token %}

  <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
  <p style="color:red">{{ error }}</p>
  <label for="id_username" class="sr-only">Email</label>
  <input type="text" id="id_username" class="form-control" placeholder="Email" name="email"
         value="" autofocus="" required="" data-cip-id="inputEmail">

  <label for="id_password" class="sr-only">Password</label>
  <input type="password" id="id_password" class="form-control" placeholder="Пароль"
         name="password" required="" data-cip-id="inputPassword">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
{% endblock %}